<div class="login-container">
  <mat-card class="login-card">
    <h2>Sign in your account</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" />
        @if (loginForm.get('username')?.hasError('required') &&
        loginForm.get('username')?.touched) {
        <mat-error> Username is required. </mat-error>
        } @if (loginForm.get('username')?.hasError('invalidCredentials')) {
        <mat-error> Invalid email or password. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched) {
        <mat-error> Password is required. </mat-error>
        }
      </mat-form-field>
      <div class="forgot-password">
        <a href="#" (click)="onForgotPassword($event)">Forgot Password?</a>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Sign In
      </button>
    </form>
  </mat-card>
</div>
